*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #F9A825, #FDD835);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 500px;
    height: 600px;
    position: relative;
}

.section__box{
    width: 400px;
    height: 500px;
    box-shadow: #353535 0 0 8px;
    border: rgba(255, 255, 255, 1) solid 2px;
    border-radius: 10px;
    padding: 30px 36px;
    margin: 50px;
}


.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.circle__1{
    top: -50px;
    left: -50px;
    background-image: linear-gradient(45deg ,rgba(0, 131, 143, 1), rgba(128, 222, 234, 0.4));
    backdrop-filter: blur(1px);
    box-shadow: #000000 0 0 10px;

}

.circle__2{
    bottom: -60px;
    right: -100px;
    background-image: linear-gradient(135deg , rgba(249, 168, 37, 1), rgb(255, 245, 157, 0.4));
    backdrop-filter: blur(1px);
    box-shadow: #000000 0 0 10px;
}


.container__form{

}

.form__box{

}

.icon__box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.icon{
    width: 50px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.incoming{
    display: flex;
    flex-direction: column;
}

.subject{
    color: #000000;
    font-size: 18px;
    margin-top: 35px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.subject::after{
    content: ":";
    font-size: 18px
}

.box__income{
    width: 100%;
    height: 45px;
    color: #0d0d0d;
    background-color: rgba(164, 164, 164, 0.01);
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
    outline: none;
}

.box__income::placeholder{
    color: rgba(27, 27, 27, .5);
    font-size: 14px;
}

.botton__box{
    height: 50px;
    background-color: #00ACC1;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 200ms ease 100ms;
}

.botton__box:hover{
    background-color: #0097A7;
    box-shadow: #000000 0 0 2px;
}

.forget{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sign__password{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px 2px;
    border-radius: 5px;
}

.sign__password::after{
    content: "";
    background-color: #00ACC1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto; 
    opacity: 0;
    transform: translateX(-50px);
    transition: all 200ms ease 150ms;
}

.sign__password:hover::after{
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width:1200px) {
    body{
        background: url(../picture/arnaud-girault-IjEtFjxXweE-unsplash.jpg) no-repeat;
        background-size: cover;
    }

    .section__box{
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(5px);
    }
}

@media screen and (max-width:1200px) {
    body{
        background: url(../picture/venti-views-XvdRyhsqlyY-unsplash.jpg) no-repeat;
        background-size: cover;
    }

    .section__box{
        width: 380px;
        height: 480px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(5px);
    }

}

@media screen and (max-width:769px) {
    body{
        background: url(../picture/colin-watts-YAhAtPA3R5s-unsplash.jpg) no-repeat;
        background-size: cover;
    }

    .section__box{
        width: 380px;
        height: 480px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(5px);
        padding: 35px 40px;

    }

}

@media screen and (max-width:480px) {
    body{
        background: url(../picture/arnaud-girault-IjEtFjxXweE-unsplash.jpg) no-repeat;
        background-size: cover;

    }

    .section__box{
        min-height: 450px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(5px);
        margin: 25px;
        padding: 25px 26px;
    }

    .subject{
        font-size: 14px;
    }

    .box__income{
        font-size: 14px;
        height: 35px;
        color: #ffffff;
        background-color: rgba(164, 164, 164, 0.01);
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 5px;
        outline: none;
    }

    .sign__password{
        font-size: 12px;
    }
}